h1,
h2,
h3 {
    font-family: 'Courier New', Courier, monospace;
    /* здесь задается шрифт*/
}

h1 {
    color: #47c379;
    font-size: 30px;
    /* размер шрифта*/
}

h2 {
    color: #2f4d5b;
    font-size: 18px;
    /* размер шрифта*/
}

img {
    width: 700px;
}

.menu {
    text-decoration: none;
    color: rgb(105, 42, 112);
    padding: 40px;
    font-weight: bolder;
}

#wiki {
    color: rgb(93, 169, 38);
    font-weight: bolder;
    text-decoration: none;
}

nav .menu {
    color: rgb(18, 77, 77);
}

nav .menu:hover {
    /*состояние обьекта - мышка наведена на него*/
    text-decoration: overline;
    /*dotted- в точечку  dashed-в палочку*/
    /*текст подчеркивается*/
    color: rgb(236, 218, 55);
}

p::first-letter {
    /*сделать первую букву абзаца с тегом p*/
    color: red;
    font-weight: bolder;
    font-size: 30px;
}

#logo {
    width: 70px;
    /* position: absolute; /*абсолютное положение на странице*/
    left: 10px;
    /* с отступом справа от края 50 px*/
    /* top: 50px; /* с отступом сверху от края 50 px*/
    border: 1px solid black;
    opacity: 0.85;
    /*прозрачность элемента*/
    box-shadow: 0 0 10px #47c379;
    /*тень блока элемента*/
    border-radius: 50px;
    /*скругление углов границ блока/элемента 50рх до круга*/
}

#namecompany {
    padding: 10px;
    /*отступ внутри блока до его края*/
    margin: 20px;
    /*отступ блока/элемента до соседей(блоков/элементов)*/
    font-family: 'Playfair Display', serif, 'Times New Roman', Times;
    font-weight: bold;
    font-style: italic;
    font-size: 35px;


}